@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }



.postlist-review-view {
    border: 2px solid #000000;
    border-radius: 7px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #212121;
    color: #ffffff;
    font-size: 15px;
    box-shadow: 2px 2px 3px #be691f;

    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5s; 
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;

    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.highlight-title {
    width: 80%;
    margin: 10px auto 20px auto;
    border-bottom: 2px solid #be691f;
    border-radius: 30%;
}

h2 {
    font-size: 42px;
    font-family: 'Caveat', Times, serif;
}

.review-form-content {
    display: flex;
    justify-content: center;
    margin: 0 auto 25px auto;
}

.content-box {
    width: 50%;
    text-align: left;
    border-right: 2px solid #be691f;
    border-radius: 3%;
    line-height: 2.5rem;
    padding-left: 25px;
}

.highlight-post {
    width: 80%;
    margin: 0 0 10px 0;
}

.highlight-date {
    width: 80%;
    margin: 0;
}

.notes-box {
    /* border: 3px solid red; */
    border-left: 2px solid #be691f;
    border-radius: 3%;
    width: 50%;
    padding: 0 35px 0 35px;
    text-align: left;
    line-height: 1.6rem;
}

.highlight-notes {
    width: 80%;
    margin: auto;
}




/* ============================================================================ */
/* =========================    MEDIA  ---   LARGE   ========================== */
/* ============================================================================ */



@media (max-width: 1935px) and (min-width: 1335px) { 

    .postlist-review-view {
        width: 42%;
        margin-top: 70px;
        padding-bottom: 15px;
    }

    .highlight-date {
        width: 100%;
        margin: 0;
    }

}



/* ============================================================================ */
/* =========================    MEDIA  ---   SMALL   ========================== */
/* ============================================================================ */


@media(max-width: 505px) {

    .highlight-post {
        width: 100%;
    }


    .highlight-date {
        width: 100%;
        margin: 0;
    }


}

