@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.display {
    padding-top: 100px;
}

.detail-view {
    display: flex;
    justify-content: center ;
    padding-top: 115px;
}

.postlist-review-view {
    border: 2px solid #000000;
    border-radius: 7px;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #212121;
    color: #ffffff;
    font-size: 15px;
}

.list-container { 
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 15px 100px 15px;

    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5s; 
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;

    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;

}

.admin-buttons { 
    padding-top: 15px;
    display: flex;
    justify-content: center;

    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5s; 
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;

    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.admin-button {
    color: #ffffff;
    border-color: #515151; 
    background-color: #515151;
    padding: 5px 25px;
    border-radius: 7px;
    margin: 0 10px;
}

.admin-button:hover {
    color: #ffffff;
    border-color: #be691f;
    background-color: #be691f;
}

.admin-button:focus {
    color: #ffffff;
    border-color: #be691f;
    background-color: #be691f;
}





/* ============================================================================ */
/* =========================    MEDIA  ---   LARGE   ========================== */
/* ============================================================================ */



@media (max-width: 1935px) and (min-width: 1335px) { 

    .display {
        padding: 150px 0 60px 0;
    }
    
    .admin-buttons { 
        padding: 0px 0 30px 0;
    }
    
    .admin-button {
        font-size: 22px;
        padding: 5px 35px;
        margin: 0 35px;
        box-shadow: 2px 2px 3px #0a0a0a;
    }

    .past-game {
        width: 300px;
    }


}



/* ============================================================================ */
/* =========================    MEDIA  ---   SMALL   ========================== */
/* ============================================================================ */



@media(max-width: 505px) {  

    .detail-view {
        padding: 100px 0 70px 0;
        /* width: 100%; */
    }

    .admin-buttons { 
        padding-top: 15px;

    }

    .admin-button { 
        padding: 3px 5px;
        margin: 0 12px;
        font-size: 14px;
        width: 50%;
    }

    .postlist-review-view {
        /* width: 80%; */
        margin-top: 20px;
        margin-bottom: 40px;
        /* font-size: 55px; */
    }

}