@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }



.edit-form {
    border: 2px solid #000000;
    border-radius: 7px;
    /* width: 100%; */
    width: 740px;
    margin: -10px 0 105px 0;
    background-color: #212121;
    color: #ffffff;
    box-shadow: 2px 2px 3px #be691f;
} 

.edit-form-content {
    display: flex;
    justify-content: center;
    margin: 0 auto 20px auto;
}

.take-button-pairs {
    margin: 10px;
    width: 100px;
    background-color: #515151;
    border-color: #515151;
}

.take-button-pairs:hover {
    background-color: #be691f;
    border-color: #be691f;
}

.content-box {
    width: 50%;
    text-align: left;
    border-right: 2px solid #be691f;
    border-radius: 3%;
    line-height: 2.5rem;
    padding-left: 25px;
}

.highlight-title {
    width: 80%;
    margin: 10px auto 20px auto;
    border-bottom: 2px solid #be691f;
    border-radius: 30%;
}

h2 {
    font-size: 45px;
    font-family: 'Caveat', Times, serif;
}

.highlight-post {
    width: 80%;
    /* margin: 0 0 30px 0; */
}

.highlight-date {
    width: 80%;
    margin: 0;
}

.notes-box {
    /* border: 3px solid red; */
    border-left: 2px solid #be691f;
    border-radius: 3%;
    width: 50%;
    padding: 0 35px;
    text-align: left;

}

.highlight-notes {
    width: 80%;
    margin: auto;
}

.takeseat-buttons {
    margin: 15px 0 5px 0;
    width: 100%;
}

.cancel-seat-buttons {
    margin: 10px;
    width: 190px;
    background-color: #515151;
    border-color: #515151;
}

.cancel-seat-buttons:hover {
    background-color: #be691f;
    border-color: #be691f;
}


.main-edit-area {
    width: 100%;
    display: flex;
    /* align-items: flex-start; */
    justify-content: center;
    /* min-height: calc(100vh - 201px); */
}

.create-flex {
    display: flex;
    justify-content: space-evenly;
}
.button {
    display: flex;
    justify-content: center;
}

.create-button-pairs {
    margin: 10px; 
    width: 100px;
    /* background-color: #515151; */
    background-color: #252525;
    border-color: #515151;
}

.create-button-pairs:hover {
    background-color: #be691f;  
    border-color: #be691f;
}

.create-button-pairs:focus {
    background-color: #be691f;
    color: #fff;
}

 

.main-edit-author-area {
    width: 100%;
    display: flex;
    /* align-items: flex-start; */
    justify-content: center;
    /* min-height: calc(100vh - 201px); */
    
}

.edit-author-form {
    border: 2px solid #000000;
    border-radius: 7px;
    padding: 20px 20px;
    width: 950px;
    /* text-align: left; */
    /* margin-top: 10px; */
    /* background-color: #212121; */
    background-color: #212121;
    color: #ffffff;
    margin-bottom: 45px;
    box-shadow: 2px 2px 3px #be691f;

    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5s; 
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;

    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.edit-author-form > h1 {
    font-size: 25px;
    font-weight: 800;
    color: #be691f;
}

.edit-author-flex {
    text-align: left; 
    display: flex;
    justify-content: space-between;
}

.edit-author-form-title {
    width: 80%;
    margin: 10px auto 20px auto;
    border-bottom: 2px solid #be691f;
    border-radius: 30%;
}

.post-captions {
    font-family: sans-serif;
    font-size: 18px;
    color: #be691f;
    font-style: italic;
    margin: 0;
}
.post-notes-caption {
    font-family: sans-serif;
    font-size: 25px;
    color: #be691f;
    font-style: italic;
}




/* ============================================================================ */
/* =========================    MEDIA  ---   LARGE   ========================== */
/* ============================================================================ */



@media (max-width: 1935px) and (min-width: 1335px) {


    .edit-form {
        width: 800px;
        margin-top: 65px;
    } 

    .highlight-title > h2 {
        margin: 10px auto 0px auto;
        font-size: 47px;
        font-family: 'Caveat', Times, serif;
    }

    .highlight-title > p {
        font-size: 25px;
    }

    .login-link {
        font-size: 25px;
    }

    .edit-form-content {
        margin: 30px auto 20px auto;
    }

    /* .content-box {
        line-height: 3.5rem;
        padding-left: 205px;
    } */

    .post-captions {
        font-size: 28px;
        margin: 0;
    }

    .highlight-post {
        font-size: 22px;
    }
    
    .highlight-date {
        font-size: 23px;
        margin: 0;
    }

    .post-notes-caption {
        font-size: 31px;
    }

    .highlight-post-notes {
        font-size: 25px;
        line-height: 2.1rem;
    }

    .take-button-pairs {
        font-size: 21px;
        margin: 15px 20px;
        width: 130px;
    }


    /* ==================    Edit Post Screen  --  MEDIA - LARGE   =================== */

    .main-edit-author-area {
        margin-top: 65px;
    }

    .edit-author-form {
        width: 1100px;
    }

    .edit-author-form > h1 {
        font-size: 50px;
    }

    .edit-author-flex {
        font-size: 25px;
    }

    .form-control {
        font-size: 20px;
    }


    .create-post-modal {
        padding-top: 330px;
    }

    .modal-title {
        font-size: 25px;
        text-align: center;
    }

    .modal-button-close {
        font-size: 20px;
    }

    .footer-text {
        display: flex;
        flex-direction: row;
    }

    .footer-text > h2 {
        font-size: 20px;
        font-family: sans-serif;
    }


}




/* ============================================================================ */
/* =========================    MEDIA  ---   SMALL   ========================== */
/* ============================================================================ */


@media(max-width: 505px) {

  /* ==================    View Post Screen  --  MEDIA - LARGE   =================== */

    .edit-form {
        width: 470px;
        margin-top: 5px;
    } 

    .highlight-title > h2 {
        margin: 10px auto 0px auto;
        font-size: 27px;
    }

    .highlight-title > p {
        font-size: 15px;
    }

    .login-link {
        font-size: 15px;
    }

    .post-captions {
        font-size: 13px;
        margin: 0;
    }

    .highlight-post {
        font-size: 12px;
        line-height: 1.2rem;
    }

    .highlight-date {
        font-size: 13px;
        line-height: 1.2rem;
    }

    .post-notes-caption {
        font-size: 15px;
    }

    .highlight-post-notes {
        font-size: 12px;
        line-height: 1.5rem;
    }

    .take-button-pairs {
        font-size: 12px;
        margin: 1px 15px;
        width: 80px;
    }

    .cancel-seat-buttons {
        margin: 10px;
        width: 160px;
        font-size: 13px;
    }

}