@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }




/* ============= Posts.js ============= */

.main-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 55px;
}

.post-view {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;

    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

/* .post-view.four {
    -webkit-animation-delay: .9s;
    -moz-animation-delay: .9s;
    animation-delay: .9s;
  } */

/* ============= Posts.js ============= */


.post-container { 
    font-size: 45px;
    color: white;
    padding-top: 85px;
}



/* ============== UserPost.js =============== */
.creator-list {
    display: flex;
    justify-content: center;
}

.post-info {
    border: 2px solid #000000;
    border-radius: 7px;
    width: 40%;
    margin-top: 30px;
    background-color: #212121;
    color: #ffffff;
    font-size: 15px;
}

.user-post-data {
    color: #ffffff;
    font-size: 15px;
}

.view-link {
    color: #40be7b;
    text-decoration: none;

}
.view-link:hover {
    color: #be691f;
}


.form-control {
    background-color: #e0e0e0;
}


/* ===================== Admin Post List ===================== */

.display {
    padding-top: 100px;
}

.detail-view {
    padding-top: 115px;
}

.article-view {
    border: 2px solid #000000;
    border-radius: 7px;
    padding: 20px 40px;
    width: 57%;
    text-align: left;
    margin-top: 30px;
    background-color: #212121;
    color: #ffffff;
    margin-bottom: -28px;
}


/* =====================  Posts.js  ===================== */

.sort-buttons {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    /* width: 70%; */

    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;

    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sort-button {
    color: #ffffff;
    border-color: #515151;
    background-color: #515151; 
    padding: 5px 25px;
    border-radius: 7px;
    margin: 0 10px;
    box-shadow: 2px 2px 3px #0a0a0a;
}
.sort-button:hover {
    color: #ffffff;
    border-color: #be691f;
    background-color: #be691f;
}
.sort-button:focus {
    color: #ffffff;
    border-color: #be691f;
    background-color: #be691f;
}





/* ============================================================================ */
/* =========================    MEDIA  ---   LARGE   ========================== */
/* ============================================================================ */



@media (max-width: 1935px) and (min-width: 1335px) { 

    .sort-buttons {
        padding: 55px 0 30px 0;
        display: flex;
        justify-content: center;
    }
    
    .sort-button {
        font-size: 22px;
        padding: 5px 35px;
        margin: 0 15px;
    }
    
}



/* ============================================================================ */
/* =========================    MEDIA  ---   SMALL   ========================== */
/* ============================================================================ */


@media(max-width: 505px) {

    .sort-buttons {
        display: flex;
        flex-wrap: wrap;
        padding: 0 100px;
    }

    .sort-button {
        width: 125px;
        font-size: 10px;
        margin: 8px 10px;
    }

    .btn-all {
        width: 270px;
    }

}