/* ============= Posts.js ============= */

.main-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-view {
    /* display: flex;
    justify-content: center;
     */
}

/* ============= Posts.js ============= */


.post-container {
    font-size: 45px;
    color: white;
    padding-top: 85px;
}



/* ============== UserPost.js =============== */
.creator-list {
    display: flex;
    justify-content: center;
}

.post-info {
    border: 2px solid #000000;
    border-radius: 7px;
    width: 40%;
    margin-top: 30px;
    background-color: #212121;
    color: #ffffff;
    font-size: 15px;
}

.user-post-data {
    color: #ffffff;
    font-size: 15px;
}

.view-link {
    color: #40be7b;
    text-decoration: none;

}
.view-link:hover {
    color: #be691f;
}


.form-control {
    background-color: #e0e0e0;
}


/* ===================== Admin Post List ===================== */

.display {
    padding-top: 100px;
}

.detail-view {
    padding-top: 115px;
}

.article-view {
    border: 2px solid #000000;
    border-radius: 7px;
    padding: 20px 40px;
    width: 57%;
    text-align: left;
    margin-top: 30px;
    background-color: #212121;
    color: #ffffff;
    margin-bottom: -28px;
}


/* =====================  Posts.js  ===================== */

.sort-buttons {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    /* width: 70%; */
}

.sort-button {
    color: #ffffff;
    border-color: #515151;
    background-color: #515151;
    padding: 5px 25px;
    border-radius: 7px;
    margin: 0 10px;
}
.sort-button:hover {
    color: #ffffff;
    border-color: #be691f;
    background-color: #be691f;
}
.sort-button:focus {
    color: #ffffff;
    border-color: #be691f;
    background-color: #be691f;
}