@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }



.pst-list {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 15px;

    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1; 

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;
}
.pst-list.four {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    animation-delay: .2s;
  }

.post-info {
    border: 2px solid #000000;
    border-radius: 7px;
    width: 300px;
    height: 93%;
    /* height: 250px; */
    margin: 30px 10px 0 10px;
    background-color: #212121;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 3px #be691f;
}

.post-list-title {
    font-size: 27px;
    padding: 0 10px 10px 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #be691f;
    border-radius: 90%;
    font-family: 'Caveat', Times, serif;
}

.post-list-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}