.creator-list {
    display: flex;
    justify-content: center;
}


.user-post-data {
    color: #ffffff;
    font-size: 15px;
}

.view-link {
    color: #40be7b;
}
.view-link:hover {
    color: #be691f;
}

.form-control {
    background-color: #e0e0e0;
}
