@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.my-posts-display {
    padding-top: 25px;
}

.author-buttons {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
.author-button {
    color: #ffffff;
    border-color: #515151; 
    background-color: #515151;
    padding: 5px 25px;
    border-radius: 7px;
    margin: 0 10px; 

    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5s; 
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;

    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.author-button:hover {
    color: #ffffff;
    border-color: #be691f;
    background-color: #be691f;
}

.author-button:focus {
    color: #ffffff;
    border-color: #be691f;
    background-color: #be691f;
}




/* ============================================================================ */
/* =========================    MEDIA  ---   LARGE   ========================== */
/* ============================================================================ */



@media (max-width: 1935px) and (min-width: 1335px) {

    .my-posts-display {
        padding-top: 85px;
    }
    
    .author-buttons {
        padding: 0px 0 30px 0;
    }
    .author-button {
        font-size: 22px;
        padding: 5px 35px;
        margin: 0 35px;
    }
}