.App {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  /* object-fit: cover; */
  /* object-position: center; */
  background-image: url("../images/black-triangles-background.jpeg");
  /* background-image: url("../images/color-blast-background.jpeg"); */
  background-repeat: no-repeat;
  background-attachment: fixed; 
  user-select: none;
}


.list {
  list-style: none;
}

.margin-section {
  min-height: calc(100vh - 265px);
}
/* 
@media(max-width: 992px) {
  .App {
    margin-bottom: 80px;
  }
} */

.link {
  color: #0000008c;
}

.link:hover {
  color: #000000b3;
}



/* ============================================================================ */
/* =========================    MEDIA  ---   LARGE   ========================== */
/* ============================================================================ */



@media (max-width: 1935px) and (min-width: 1335px) {

  .App {
    background-image: url("../images/black-triangles-background.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

}