@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }



.footer-container {
    padding-bottom: 10px;
    /* border-top: 1px solid #000000; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: #000000; */
    background-image: linear-gradient(to right, #222222, #000000, #222222);


    /* opacity:0;
    -webkit-animation:fadeIn ease-in 1; 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s; 
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s; */
}

.name-tag {
    color: #ffffff;
    /* font-family: 'Playball', Times, serif; */
    /* font-family: 'Kaushan Script', Times, serif; */
    /* font-family: 'Lobster', Times, serif; */
    font-family: 'Caveat', Times, serif;
    font-size: 20px;
}

.copyright {
    color: #ffffff;
}




/* ============================================================================ */
/* =========================    MEDIA  ---   LARGE   ========================== */
/* ============================================================================ */



@media (max-width: 1935px) and (min-width: 1335px) {

    .footer-container {
        padding-bottom: 10px;
        height: 80px;

    }
    .name-tag { 
        font-size: 30px;
    }

}


/* ============================================================================ */
/* =========================    MEDIA  ---   SMALL   ========================== */
/* ============================================================================ */


@media(max-width: 505px) {

    .copyright {
        padding: 0 85px;
    }

}


/* ============================================================================ */
/* =========================    MEDIA  ---   XS   ========================== */
/* ============================================================================ */


@media(max-width: 505px) {

    .copyright {
        padding: 0 20px;
    }

}
