.footer-container {
    padding-top: 10px;
    /* border-top: 1px solid #000000; */
}

.name-tag {
    color: #ffffff;
    /* font-family: 'Playball', Times, serif; */
    /* font-family: 'Kaushan Script', Times, serif; */
    /* font-family: 'Lobster', Times, serif; */
    font-family: 'Caveat', Times, serif;
    font-size: 20px;
}

.copyright {
    color: #ffffff;
}