@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@700&family=Kaushan+Script&family=Lobster&family=Playball&display=swap');


.navbar{
    border-bottom: 1px solid #000000;
    /* background-color: #000000; */
    background-color: #cf720e;
    color: #ffffff;    
    position: fixed;
    width: 100%;
}

.navbar-container {
    height: 50px;
    margin-bottom: 10px;
    color: #ffffff;
}

.app-name {
    /* font-family: 'Playball', Times, serif; */
    /* font-family: 'Kaushan Script', Times, serif; */
    /* font-family: 'Lobster', Times, serif; */
    font-family: 'Caveat', Times, serif;
    font-size: 45px;
    color: #ffffff;
}

.sport-icon {
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.app-name:hover {
    /* color: #be691f; */
    color: #000000;
}


.header-login {
    /* font-family: 'Playball', Times, serif; */
    /* font-family: 'Kaushan Script', Times, serif; */
    /* font-family: 'Lobster', Times, serif; */
    font-family: 'Caveat', Times, serif;
    font-size: 30px;
    color: #ffffff;
}

.header-login:hover, .header-logout:hover {
    color: #be691f;
}

.header-text {
    /* font-family: 'Playball', Times, serif; */
    /* font-family: 'Kaushan Script', Times, serif; */
    /* font-family: 'Lobster', Times, serif; */
    font-family: 'Caveat', Times, serif;
    font-size: 30px;
    color: #ffffff;
    margin-right: 25px;
}
.header-text:hover {
    color: #be691f;
}

.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #212529;
    object-fit: cover;
    object-position: center;
}

.dropdown {
    color: #ffffff;
    font-size: 20px;
    margin-top: 9px;
    z-index: 2;
}
.dropdown-opt {
    background-color: #cf720e;
    color: #ffffff;
}
.show {
    background-color: #cf720e;
}
.dropdown-opt:hover {
    background-color: #cf720e;
}

.dropdown-toggle {
    color: #ffffff;
    /* font-family: 'Caveat', Times, serif; */
}
.dropdown-toggle:focus {
    color: #ffffff;
}




/* ==================== media ==================== */


@media(max-width: 755px) {
    .app-name {
        font-size: 30px;
    }

    .sport-icon {
        height: 20px;
        width: 20px;
    }

    .header-login, .header-logout {
        font-size: 30px;
    }
}

@media(max-width: 550px) {
    .app-name {
        margin-left: 25px;
    }

    .header-login, .header-logout {
        margin-right: 25px;
    }
}