@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@700&family=Kaushan+Script&family=Lobster&family=Playball&display=swap');


.navbar{
    border-bottom: 1px solid #000000;
    background-image: linear-gradient(to right, #d28745, #be691f, #d28745);
    color: #ffffff;     
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 2px 3px #858382;
    padding-top: 10px;
}

.navbar-container {
    height: 50px;
    margin-bottom: 10px;  
    color: #ffffff;
    padding: 0 45px;
}

.app-name {
    font-family: 'Caveat', Times, serif;
    font-size: 45px;
    color: #ffffff;
}

.sport-icon {
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.app-name:hover {
    /* color: #be691f; */
    color: #343434;
    transition: 0.3s;
}


.header-login {
    font-family: 'Caveat', Times, serif;
    font-size: 30px;
    color: #ffffff;
}

.header-login:hover, .header-logout:hover, .header-text:hover {
    color: #343434;
    text-decoration: none;
    border-bottom: 3px solid #343434;
}

.header-btn {
    margin-right: 25px;
    margin-top: 7px;
    background: transparent;
    text-decoration: none;
    border: none;
}
.header-text {
    font-family: 'Caveat', Times, serif;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
}

.header-btn:focus {
    color: #343434;
    border-bottom: 3px solid #343434;
}

.dropdown {
    color: #ffffff;
    font-size: 23px;
    margin-top: 9px;
    margin-left: 20px;
    z-index: 2;
    font-family: 'Caveat', Times, serif;
    
}
.dropdown-opt {
    /* background-color: #cf720e; */
    background-color: #212529;
    color: #ffffff;
    z-index: 2;
}

.show {
    /* background-color: #212529; */
    z-index: 2;
}
.dropdown:active {
    background-color: transparent;
}

.dropdown-menu {
    background-color: #212529;
}

.nav-link:active {
    background-color: transparent;
}

.dropdown-opt:hover {
    background-color: #be691f;
    color: #ffffff;
}

.dropdown-toggle {
    color: #ffffff;
    /* font-family: 'Caveat', Times, serif; */
}
.dropdown-toggle:focus {
    color: #ffffff;
}
.username {
    font-family: 'Caveat', Times, serif;
}

.profile-picture-large-scale {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #212529;
    object-fit: cover;
    object-position: center;
    margin-left: 10px;
}
/* .profile-picture-small-scale {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #212529;
    object-fit: cover;
    object-position: center;
    margin-left: 10px;
} */

.show>.nav-link {
    color: #ffffff!important;
    background-color: transparent;
}

/* .profile-picture-small-scale {
    display: none;
} */


/* ==================== media ==================== */

/* 
@media(max-width: 755px) {
    .app-name {
        font-size: 30px;
    }

    .sport-icon {
        height: 20px;
        width: 20px;
    }

    .header-login, .header-logout {
        font-size: 30px;
    }
}

@media(max-width: 550px) {
    .app-name {
        margin-left: 25px;
    }

    .header-login, .header-logout {
        margin-right: 25px;
    }
}  */




/* ============================================================================ */
/* =========================    MEDIA  ---   LARGE   ========================== */
/* ============================================================================ */



@media (max-width: 1935px) and (min-width: 1335px) {


    .navbar {
        display: flex;
        justify-content: center; 
    }
    .navbar-container {
        /* display: flex; */
        /* width: 100vw;
        justify-content: center; */
        margin: 0;
        height: 85px;
    }
    .nav-flex {
        display: flex;
        justify-content: space-between;
        max-width: 1700px;
    }

    .app-name {
        font-size: 60px;
    }
    .header-login {
        font-size: 45px;
    }
    .header-text {
        font-size: 40px;
        margin-right: 35px;
    }    
    .dropdown {
        font-size: 33px;
        margin-top: 7px;
        margin-left: 50px;   
    }
    .dropdown:hover {
        color: #343434;
    }

    .profile-picture-large-scale {
        width: 75px;
        height: 75px;
    }
    .dropdown-opt {
        font-size: 25px;
    }

    .navbar_sm {
        display: none;
    }

}



/* ============================================================================
/* =========================    MEDIA  ---   MED   ========================== */
/* ============================================================================ */


@media(min-width: 991px) and (max-width: 1199px) {
    
    .navbar-container {
        padding: 0 20px;
    }

    .canvas-header {
        padding-top: 100px;
        background-color: #343434;
        border-bottom: 5px solid #be691f;
        color: #ffffff;
    }

    .header-text {
        font-size: 35px;
        padding-top: 18px;
    }

    .dropdown {
        font-size: 35px;
        margin-left: 40px;
    }
    .dropdown:hover {
        color: #be691f;
    }

    .dropdown-opt {
        font-size: 20px;
        padding-left: 35px;
    }

}



/* ============================================================================ */
/* =========================    MEDIA  ---   SMALL   ========================== */
/* ============================================================================ */


@media(max-width: 990px) {
    
    .navbar {
        padding-bottom: 15px;
    }

    .navbar-container {
        padding: 0 20px;
    }

    .canvas-header {
        padding-top: 100px;
        background-color: #343434;
        border-bottom: 5px solid #be691f;
        color: #ffffff;
    }

    .offcanvas-body {
        background-color: #212121;
    }

    .header-text {
        font-size: 40px;
        padding: 0;
        margin-left: 40px;
    }

    .header-text:hover {
        color: #be691f;
    }

    .dropdown {
        font-size: 35px;
        margin: 0 auto
    }
    .dropdown:hover {
        color: #be691f;
    }

    .dropdown-opt {
        font-size: 20px;
        padding-left: 35px;
    }

    .profile-picture-large-scale { 
        display: none;
    }
   
    .d-lg-none {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #212529;
        object-fit: cover;
        object-position: center;
        margin-right: 15px;
    }
}