main {
    background: transparent;
    text-align: center;
}

.home-container {
    /* margin: 0px auto 0 auto; */
    position: relative;
}

.homepic {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 450px;
    opacity: 1;
    filter: brightness(50%)
}

.home-page-text {
    position: absolute;
    bottom: 120px;
    color: #f0eded;
    font-size: 53px;
    padding: 0 150px;

    /* font-family: 'Playball', Times, serif; */
    /* font-family: 'Kaushan Script', Times, serif; */
    /* font-family: 'Lobster', Times, serif; */
    font-family: 'Caveat', Times, serif;
}

.home-lower-buttons{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    background: transparent;
}

.home-create-account, .home-create-team-account, .home-login {
    color: #ffffff;
    background-color: #515151;
    padding: 5px 25px;
    border-radius: 7px;
}

.btn-hover:hover {
    color: #ffffff;
    background-color: #be691f;
}

@media(max-width: 1050px) {
    .homepic {
        height: 350px;
    }
    
    .home-page-text {
        position: absolute;
        bottom: 80px;
        font-size: 48px;
        padding: 0 70px;
    }
}

@media(max-width: 755px) {
    .homepic {
        height: 350px;
    }
    
    .home-page-text {
        position: absolute;
        bottom: 80px;
        font-size: 48px;
        padding: 0 70px;
    }
}

@media(max-width: 675px) {
    .homepic {
        height: 350px;
    }

    .home-page-text {
        position: absolute;
        bottom: 50px;
        font-size: 43px;
        padding: 0 70px;
    }
}

@media(max-width: 505px) {
    .homepic {
        height: 320px;
    }

    .home-page-text {
        position: absolute;
        bottom: 45px;
        font-size: 38px;
        padding: 0 70px;
    }
}