main {
    background-color: #000000;
    text-align: center;
}

.home-container {
    /* margin: 0px auto 0 auto; */
    position: relative;
}

.homepic {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 450px;
    opacity: .5;
}

.home-page-text {
    position: absolute;
    bottom: 120px;
    color: #f0eded;
    font-size: 53px;
    padding: 0 80px 0 80px;
    /* margin: 0 auto 0 auto; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* margin: 50px auto 0 auto; */
    /* background-image: url("../images/homepic.jpeg"); */
    /* border: 2px solid red;
    width: 90%;
    object-fit: cover;
    object-position: center;
    height: 500px; */
}

/* .homepic-img {
    opt
} */

.home-lower-buttons{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
}

.home-create-account {
    color: #ffffff;
    background-color: #000000;
    padding: 5px 25px;
    border-radius: 7px;
}

.home-login {
    color: #ffffff;
    background-color: #000000;
    padding: 5px 25px;
    border-radius: 7px;
}

.btn-hover:hover {
    color: #ffffff;
    background-color: #be691f;
}