@keyframes profile-pic-load { 0% {transform: translateX(-100%);} 100% { transform: translateX(0);}}
@keyframes profile-content-load { 0% {transform: translateX(100%);} 100% { transform: translateX(0);}}
@keyframes profile-buttons-load { 0% {transform: translateY(100%);} 100% { transform: translateY(0);}}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


/* =============== vvvv  Profile Create vvvv ==================== */
 
.profile-create-container {
    padding-top: 125px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.profile-create-inputs {
    padding-left: 85px;
}

.image-container {  
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #be691f;
    margin-top: 40px;
    background-color: #212121;

    animation: profile-pic-load 600ms ease-in-out;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.form-head-title {
    color: #be691f;
    padding-bottom: 20px;
    border-bottom: 2px solid #be691f;
    border-radius: 5%;
}

.profile-create-save-button:hover {
        background-color: #be691f;
}

/* =============== ^^^^  Profile Create ^^^^ ==================== */





/* =============== vvvv  Profile Edit vvvv ==================== */

.edit-profile {
    display: flex;
    justify-content: center;
}

.main-profile-container {
    padding-top: 100px;
    color: #ffffff;
    margin-bottom: 45px;
}
.profile-view-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    margin: 25px;
    padding-bottom: 20px;
    border-bottom: 2px solid #be691f;
    border-radius: 3%;

    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1; 

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;

}
.profile-content {
    align-self: center;
    text-align: left;
    font-size: 20px;
    margin-top: 40px;
    padding: 10px 20px 0 20px;
    background-color: #565759;
    border: 2px solid #212121;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #be691f;

    animation: profile-content-load 600ms ease-in-out;
}

.profile-edit-buttons {
    animation: profile-buttons-load 600ms ease-in-out;
}
.profile-edit-btn:hover {
    background-color: #be691f;
    border-color: #be691f;
}

.profile-edit-btn { 
    margin: 10px;
    width: 100px;
    background-color: #515151;
    border-color: #515151;

    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1; 

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;
}

/* ========= Edit button vvv ======================== */

h1 {
    font-size: 30px;
    font-family: 'Caveat', Times, serif;
}

.main-edit-container {
    padding-top: 100px;
    color: #be691f;
    margin-bottom: 55px;
    /* width: 80%; */
    /* border: 2px solid #e90e0e; */
    /* border: 2px solid #212121; */
}
.main-edit-container > h1 {
    margin: 0;
}

.edit-view-container {
    /* width: 100%; */
    display: flex;
    color: #ffffff;
    margin: 0 25px;
    /* border: 2px solid #450ee9; */
}
.edit-image-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #be691f;
    margin: 10px 15px 0 0;

    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1; 

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;

    /* animation: profile-pic-load 600ms ease-in-out; */
}
.edit-profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.edit-profile-content {
    align-self: center;
    text-align: left;
    font-size: 20px;
    margin: 20px 0 15px 0;
    padding: 10px 20px 0 20px;
    background-color: #565759;
    border: 2px solid #212121;
    width: 35%;
    box-shadow: 2px 2px 3px #be691f;

    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1; 

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;

    /* animation: profile-content-load 600ms ease-in-out; */
}

.form-button {
    margin-bottom: 10px;
    background-color: #212121;
}
.form-button:hover {
    background-color: #be691f;
}   


/* =============== ^^^^  Profile Edit ^^^^ ==================== */





/* =============== vvvv  User Profile vvvv ==================== */

.profile-view {
    padding-top: 150px;
    color: #ffffff;
    font-size: 30px;
}
.editprofile-view {
    border: 2px solid red;
    width: 80%;
    align-items: center;
    padding-top: 150px;
    color: #ffffff;
    font-size: 30px;
}

/* =============== ^^^^  User Profile ^^^^ ==================== */





/* ============================================================================ */
/* =========================    MEDIA  ---   LARGE   ========================== */
/* ============================================================================ */



@media (max-width: 1935px) and (min-width: 1335px) {

    /* =====================    Profile Create (MEDIA LARGE)   ====================== */

    .form-display {
        /* border: 2px solid red; */
        padding-top: 95px;
    }

    .form-head-title {
        font-size: 45px;
        padding-top: 20px;
        margin-bottom: -50px;
        border: none;
        animation: profile-pic-load 600ms ease-in-out;
    }

    .image-container {
        height: 350px;
        width: 350px;
    }


    .profile-create-inputs {
        font-size: 20px;
        animation: profile-content-load 600ms ease-in-out;
    }

    .profile-create-save-button {
        font-size: 20px;
    }

    .create-fade {
        opacity:0;
        -webkit-animation:fadeIn ease-in 1;
        -moz-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1; 

        -webkit-animation-fill-mode:forwards;
        -moz-animation-fill-mode:forwards;
        animation-fill-mode:forwards;

        -webkit-animation-duration:0.3s;
        -moz-animation-duration:0.3s;
        animation-duration:0.3s;
    }



    /* ==============    User Profile / Edit Profile  (MEDIA LARGE)   =============== */   

    .main-profile-container {
        padding-top: 160px;
    }

    .profile-view-container {
        padding-bottom: 40px;
    }

    .profile-content {
        font-size: 26px;
        margin-left: 25px;
        padding: 25px 35px;
    }

    .profile-edit-btn {
        font-size: 20px;
        margin: 15px 35px 0 35px;
    }



    .main-edit-container {
        padding-top: 160px;
        margin-bottom: 55px;
    }

    .edit-view-container {
        border-bottom: 2px solid #be691f;
        border-radius: 5%;
        padding-bottom: 30px;
        margin-bottom: 25px;
    }

    .main-edit-container > h1 {
        font-size: 55px;
        margin: 0;
    }

    .edit-image-container {
        width: 380px;
        height: 380px;
        margin: 10px 35px 0 0;
    }

    .edit-profile-content {
        font-size: 27px;
        padding: 20px 30px 0 30px;
    }

}




/* ============================================================================ */
/* =========================    MEDIA  ---   SMALL   ========================== */
/* ============================================================================ */



@media(max-width: 505px) { 

    /* =====================    Profile Create (MEDIA SMALL)   ====================== */

    .form-display {
        /* border: 2px solid red; */
        padding-top: 95px;
    }

    .form-head-title {
        font-size: 45px;
        padding-top: 20px;
        margin-bottom: -50px;
        border: none;
        animation: profile-pic-load 600ms ease-in-out;
    }

    .image-container {
        height: 350px;
        width: 350px;
    }


    .profile-create-inputs {
        font-size: 20px;
        animation: profile-content-load 600ms ease-in-out;
    }

    .profile-create-save-button {
        font-size: 20px;
    }

    .create-fade {
        opacity:0;
        -webkit-animation:fadeIn ease-in 1;
        -moz-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1; 

        -webkit-animation-fill-mode:forwards;
        -moz-animation-fill-mode:forwards;
        animation-fill-mode:forwards;

        -webkit-animation-duration:0.3s;
        -moz-animation-duration:0.3s;
        animation-duration:0.3s;
    }



    /* ==============    User Profile / Edit Profile  (MEDIA SMALL)   =============== */   

    .main-profile-container {
        padding-top: 160px;
    }

    .profile-view-container {
        padding-bottom: 40px;
    }

    .profile-content {
        font-size: 26px;
        margin-left: 25px;
        padding: 25px 35px;
    }

    .profile-edit-btn {
        font-size: 20px;
        margin: 15px 35px 0 35px;
    }



    .main-edit-container {
        padding-top: 160px;
        margin-bottom: 55px;
    }

    .edit-view-container {
        border-bottom: 2px solid #be691f;
        border-radius: 5%;
        padding-bottom: 30px;
        margin-bottom: 25px;
    }

    .main-edit-container > h1 {
        font-size: 55px;
        margin: 0;
    }

    .edit-image-container {
        width: 380px;
        height: 380px;
        margin: 10px 35px 0 0;
    }

    .edit-profile-content {
        font-size: 27px;
        padding: 20px 30px 0 30px;
    }

}