

/* =============== vvvv  Profile Create vvvv ==================== */
 
.profile-create-container {
    padding-top: 125px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.profile-create-inputs {
    padding-left: 85px;
}

.image-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #565759;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* =============== ^^^^  Profile Create ^^^^ ==================== */





/* =============== vvvv  Profile Edit vvvv ==================== */


.profile-container {
    padding-top: 185px;
    color: aliceblue;
}


/* =============== ^^^^  Profile Edit ^^^^ ==================== */





/* =============== vvvv  User Profile vvvv ==================== */

.profile-view {
    padding-top: 200px;
    color: #ffffff;
    font-size: 30px;
}

/* =============== ^^^^  User Profile ^^^^ ==================== */