.reg-form-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.reg-form {
    border: 2px solid #000000;
    border-radius: 7px;
    padding: 20px 40px;
    width: 57%;
    text-align: left;
    margin-top: 30px;
    /* background-color: #212121; */
    background-color: #5b5b5b;
    color: #ffffff;
    margin-bottom: -28px;
}

.reg-form-title {
    font-family: 'Alfa Slab One', Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
}