.reg-form-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.reg-form {
    border: 2px solid #000000;
    border-radius: 7px;
    padding: 20px 40px;
    width: 57%;
    text-align: left;
    margin-top: 30px;
    background-color: #212121;
    color: #ffffff;
    margin-bottom: -28px;
    box-shadow: 2px 2px 3px #be691f;
}

.reg-form-title {
    font-family: 'Caveat', Times, serif;
    text-align: center;
    color: #c1793b;
    font-size: 25px;
}

.register-text {
    color: #be691f;
}



/* ============================================================================ */
/* =========================    MEDIA  ---   LARGE   ========================== */
/* ============================================================================ */



@media (max-width: 1935px) and (min-width: 1335px) {

    .reg-form-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .reg-form {
        padding: 20px 40px;
        width: 37%;
        text-align: left;
        margin-top: 160px;
        margin-bottom: -28px;
    }
    
    .reg-form-title {
        font-size: 50px;
    }

    .create-field-label {
        font-size: 27px;
    }


}

/* ============================================================================ */
/* =========================    MEDIA  ---   MED   ========================== */
/* ============================================================================ */


@media(max-width: 929px) and (min-width: 505px) {

    .main-display-area {
        padding-bottom: 120px;
    }

    .reg-form-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .reg-form {
        width: 90%;
        margin: 16px 0 0 0;

    }

    .create-field-label {
        font-size: 17px;
    }

    .login-link {
        margin: 0;
    }

}



/* ============================================================================ */
/* =========================    MEDIA  ---   SMALL   ========================== */
/* ============================================================================ */


@media(max-width: 505px) {

    .reg-form-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .reg-form {
        /* padding: 20px 40px; */
        width: 90%;
        margin: 16px 0 0 0;
        /* margin-bottom: -28px; */
    }

    .create-field-label {
        font-size: 17px;
    }

    .login-link {
        margin: 0;
    }

}


/* ============================================================================ */
/* =========================    MEDIA  ---   XS   ========================== */
/* ============================================================================ */


@media(max-width: 380px) {

    .main-display-area {
        padding-bottom: 120px;
    }

    .reg-form-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .reg-form {
        width: 90%;
        margin: 16px 0 0 0;

    }

    .create-field-label {
        font-size: 17px;
    }

    .login-link {
        margin: 0;
    }

}